html { 
  background: url("../img/1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: #fff;
	text-align: center;
}

ul {
	padding: 15px;
}

li {
	padding: 5px 15px;
	margin: 10px;
	text-align: left;
	background: #fff;
	color: black;
	min-width: 200px;
}

#submit {
	margin: 5px 0 5px 60px;
}

#ordered {
	float: left;
	/*margin-top: 100px;
	margin-left: 100px;*/
}

#devoured {
	float: right;
	/*margin-top: 100px;
	margin-right: 200px;
}*/

.create-update-form {
	padding: 5px;
	margin: 5px;
	/*background: aqua;*/
}

.form-group {
	margin-bottom: 5px;
}
